html{
    width: 100%;
}
body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
}
.backgroundFixed{
    position: fixed;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#img{
    object-fit: cover;
    object-position: center;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    
}
.navbar{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px; 
    &__container{
        border-bottom: 2px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, 0.658);
        width: 100%;
        height: 100%;
        &__content{
            &__title{
                display: none;
            }  
        } 
    }
}
a{
    color: rgba(255, 255, 255, 0.786);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.2s linear;
    &:hover{
        text-decoration-color: rgb(255, 255, 255);
        transition: all 0.2s linear;
        font-size: 25px;
    }
}
.HomepageAnimation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    position: relative;
    &__animation{
        background-color: rgba(255, 255, 255, 0.412);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%; 
        border-radius: 4vw;
        height: 35vw;
        box-shadow: 0px 20px 20px black;
        &__image{
            width: 70%;
            object-fit: cover; 
            max-height: 400px;
            position: relative;
            top: 20%;
            z-index: 1;
        }
        &__txt{
            font-size: 5vw;
            color: white;
            text-shadow:0.5vw 0.5vw 0.4vw rgb(0, 0, 0);
            position: relative;
            bottom: 110px;
        }
    }
}
.maps{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    position: relative;
    flex-direction: column;
    height: 620px;
    overflow: hidden;
    &__container{
        
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
      
        
        &:hover .maps__container__in__content {
        height: 0px;
        opacity: 0;
        transition: all 0.3s linear;
        overflow: hidden;
        }
       
    &__iframe{
       
        width: 100%;
        border-radius: 2vw;
        min-height: 35vw;
        box-shadow: 0px 20px 20px black;
    }
    &__in{
        min-height: 105px;
        &__content{ 
            overflow: hidden;
            transition: all 0.3s linear;
            background-color: rgba(113, 108, 108, 0.74);
            border-radius: 20px;
            position: relative;
            bottom: 160px;
            padding: 20px;
            height: 105px;
            &__txt{
                text-align: center;
                font-size: 19px;
                color: white;
            }
        }
    }
    } 
    }
.indication{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    &__txt{
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.309);
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
        text-align: center;
        color: white;
        width: 400px;
        font-size: 15px;
    }    
}
.ChoiceOfCategories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    &__container{
        background-color: rgba(0, 0, 0, 0.767);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 80%; 
        border-radius: 1vw;
        height: 225px;
        &__content{
            border-radius: 20px;
            height: 200px;
            width: 18%;    
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-size: cover;
            background-position: center;
            &__title{ 
                font-size: 15px;
                color: white;
            }
            &__txt{
                display: none;    
            }
            &.poney{
                background-image: url(/public/images/index/photoPoney2.jpg);

            }
            &.centre{
                background-image: url(/public/images/index/phototictac.JPG);
            }
            &.balade{
                background-image: url(/public/images/index/photobalade-compressed.jpg);
            }
            &.pension{
                background-image: url(/public/images/index/photoBOX-compressed.jpg);
            }
            &.equitherapie{
                background-image: url(/public/images/index/photoEquiterapie.jpg);
            }
        }       
      }
    }
   .newsletter{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        &__container{
            background-color: rgba(0, 0, 0, 0.823);
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-evenly;
            width: 30%; 
            border-radius: 2vw;
            height: 250px;
            font-size: 15px;
            color: white;
            line-height: 40px;

        }

   }

   




